.message-container {
  animation: slideIn var(--animation-duration, 0.3s) cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.message {
  background: rgba(235, 235, 255, 0.9);
  border-radius: 12px;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  border-left: 4px solid #c2c2c2;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  font-size: 0.9rem;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(30px) rotate(-2deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotate(0deg);
  }
}

.author-name {
  font-weight: 600;
  color: #2c3e50;
  font-size: 1.05em;
  background-color: #7456d7;
  padding: 0.5rem 1rem;
  border-radius: 12px 12px 0 0;
  margin: 0 0 0 0.8rem;
  float: left;
}

.badges {
  display: flex;
  gap: 0.25rem;
  margin-left: 0.25rem;
  float: left;
}

.badge {
  font-weight: 600;
  color: #ffffff;
  font-size: 1.05em;
  background-color: #7456d7;
  padding: 0.5rem 1rem;
  border-radius: 12px 12px 0 0;
  margin: 0 0 0 0.25rem;
  float: left;
  text-transform: uppercase;
}

.badge img {
  vertical-align: middle;
  margin: 0;
}

.badge.broadcaster {
  background-color: #db1600;
}

.badge.moderator {
  background-color: #2da539;
}

.badge.subscriber {
  background-color: #8d0ee1;
}

.badge.vip {
  background-color: #f312ac;
}

.badge.founder {
  background-color: #c624b0;
}

.badge.staff {
  background-color: #27ae60;
}

.badge.admin {
  background-color: #27ae60;
}

.badge.global_mod {
  background-color: #27ae60;
}

.badge.premium {
  background-color: #f39c12;
}

.message-time {
  font-size: 0.9rem;
  color: #8e8e8e;
  float: right;
}

.message-content {
  color: #34495e;
  line-height: 1.5;
  font-size: 1em;
  word-wrap: break-word;
}

.user-type-logo img {
  margin: -1.5rem 0.5rem -2.9rem 0.5rem;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.user-type-logo.moderator {
  transform: scaleX(-1);
}

.user-type-logo.broadcaster {
  transform: scaleX(-1);
}