.scrollArea {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.5rem 0.5rem 0 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
}

.scrollContainer {
  position: relative;
  width: 100%;
}

.visibleArea {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.messageWrapper {
  position: relative;
}